# Extraindo dados populacionais dos países

In [6]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from bs4 import Tag

In [7]:
def get_contents(elem : Tag) -> str:
    '''
        Returns the content of the bs4 element as a string.

        Parameters
        ----------
        elem : bs4.element.Tag        

    '''
    return str(elem.decode_contents()).strip()

In [8]:
countries_translation = {
    "Albania": "Albânia",
    "Andorra": "Andorra",
    "Armenia": "Armênia",
    "Austria": "Áustria",
    "Azerbaijan": "Azerbaijão",
    "Belarus": "Bielorrússia",
    "Belgium": "Bélgica",
    "Bosnia and Herzegovina": "Bósnia e Herzegovina",
    "Bulgaria": "Bulgária",
    "Croatia": "Croácia",
    "Czechia": "República Tcheca",
    "Czech Republic": "República Tcheca",
    "Denmark": "Dinamarca",
    "Estonia": "Estônia",
    "Finland": "Finlândia",
    "France": "França",
    "Germany": "Alemanha",
    "Greece": "Grécia",
    "Hungary": "Hungria",
    "Iceland": "Islândia",
    "Ireland": "Irlanda",
    "Italy": "Itália",
    "Kazakhstan": "Cazaquistão",
    "Kosovo": "Kosovo",
    "Latvia": "Letônia",
    "Liechtenstein": "Liechtenstein",
    "Lithuania": "Lituânia",
    "Luxembourg": "Luxemburgo",
    "Malta": "Malta",
    "Moldova": "Moldávia",
    "Monaco": "Mônaco",
    "Montenegro": "Montenegro",
    "Netherlands": "Países Baixos",
    "North Macedonia": "Macedônia do Norte",
    "Norway": "Noruega",
    "Poland": "Polônia",
    "Portugal": "Portugal",
    "Romania": "Romênia",
    "Russia": "Rússia",
    "San Marino": "São Marino",
    "Serbia": "Sérvia",
    "Slovakia": "Eslováquia",
    "Slovenia": "Eslovênia",
    "Spain": "Espanha",
    "Sweden": "Suécia",
    "Switzerland": "Suíça",
    "Turkey": "Turquia",
    "Ukraine": "Ucrânia",
    "United Kingdom": "Reino Unido",
    "Vatican City": "Vaticano",
    "Afghanistan": "Afeganistão",
    "Bahrain": "Bahrein",
    "Bangladesh": "Bangladesh",
    "Bhutan": "Butão",
    "Brunei": "Brunei",
    "Cambodia": "Camboja",
    "China": "China",
    "Cyprus": "Chipre",
    "Georgia": "Geórgia",
    "India": "Índia",
    "Indonesia": "Indonésia",
    "Iran": "Irã",
    "Iraq": "Iraque",
    "Israel": "Israel",
    "Japan": "Japão",
    "Jordan": "Jordânia",
    "Kuwait": "Kuwait",
    "Kyrgyzstan": "Quirguistão",
    "Laos": "Laos",
    "Lebanon": "Líbano",
    "Malaysia": "Malásia",
    "Maldives": "Maldivas",
    "Mongolia": "Mongólia",
    "Myanmar": "Mianmar",
    "Nepal": "Nepal",
    "North Korea": "Coreia do Norte",
    "Oman": "Omã",
    "Pakistan": "Paquistão",
    "Palestine": "Palestina",
    "Philippines": "Filipinas",
    "Qatar": "Catar",
    "Saudi Arabia": "Arábia Saudita",
    "Singapore": "Singapura",
    "South Korea": "Coreia do Sul",
    "Sri Lanka": "Sri Lanka",
    "Syria": "Síria",
    "Taiwan": "Taiwan",
    "Tajikistan": "Tajiquistão",
    "Thailand": "Tailândia",
    "Timor-Leste": "Timor-Leste",
    "Turkmenistan": "Turcomenistão",
    "United Arab Emirates": "Emirados Árabes Unidos",
    "Uzbekistan": "Uzbequistão",
    "Vietnam": "Vietnã",
    "Yemen": "Iémen",
    "Antigua and Barbuda": "Antígua e Barbuda",
    "Argentina": "Argentina",
    "Bahamas": "Bahamas",
    "Barbados": "Barbados",
    "Belize": "Belize",
    "Bolivia": "Bolívia",
    "Brazil": "Brasil",
    "Canada": "Canadá",
    "Chile": "Chile",
    "Colombia": "Colômbia",
    "Costa Rica": "Costa Rica",
    "Cuba": "Cuba",
    "Dominica": "Dominica",
    "Dominican Republic": "República Dominicana",
    "Ecuador": "Equador",
    "El Salvador": "El Salvador",
    "Grenada": "Granada",
    "Guatemala": "Guatemala",
    "Guyana": "Guiana",
    "Haiti": "Haiti",
    "Honduras": "Honduras",
    "Jamaica": "Jamaica",
    "Mexico": "México",
    "Nicaragua": "Nicarágua",
    "Panama": "Panamá",
    "Paraguay": "Paraguai",
    "Peru": "Peru",
    "Saint Kitts and Nevis": "São Cristóvão e Nevis",
    "Saint Lucia": "Santa Lúcia",
    "Saint Vincent and the Grenadines": "São Vicente e Granadinas",
    "Suriname": "Suriname",
    "Trinidad and Tobago": "Trinidad e Tobago",
    "United States": "Estados Unidos",
    "Uruguay": "Uruguai",
    "Venezuela": "Venezuela",
    "Australia": "Austrália",
    "Fiji": "Fiji",
    "Kiribati": "Kiribati",
    "Marshall Islands": "Ilhas Marshall",
    "Micronesia": "Micronésia",
    "Nauru": "Nauru",
    "New Zealand": "Nova Zelândia",
    "Palau": "Palau",
    "Papua New Guinea": "Papua-Nova Guiné",
    "Samoa": "Samoa",
    "Solomon Islands": "Ilhas Salomão",
    "Tonga": "Tonga",
    "Tuvalu": "Tuvalu",
    "Vanuatu": "Vanuatu",
    "Angola": "Angola",
    "Algeria": "Argélia",
    "South Africa": "África do Sul",
    "Benin": "Benim",
    "Botswana": "Botsuana",
    "Burkina Faso": "Burquina Faso",
    "Burundi": "Burundi",
    "Cabo Verde": "Cabo Verde",
    "Cameroon": "Camarões",
    "Chad": "Chade",
    "Comoros": "Comores",
    "Republic of the Congo": "República do Congo",
    "Democratic Republic of the Congo": "República Democrática do Congo",
    "Ivory Coast": "Costa do Marfim",
    "Djibouti": "Djibuti",
    "Egypt": "Egito",
    "Eritrea": "Eritreia",
    "Eswatini": "Essuatíni",
    "Ethiopia": "Etiópia",
    "Gabon": "Gabão",
    "Gambia": "Gâmbia",
    "Ghana": "Gana",
    "Guinea": "Guiné",
    "Guinea-Bissau": "Guiné-Bissau",
    "Equatorial Guinea": "Guiné Equatorial",
    "Kenya": "Quênia",
    "Lesotho": "Lesoto",
    "Liberia": "Libéria",
    "Libya": "Líbia",
    "Madagascar": "Madagáscar",
    "Malawi": "Malawi",
    "Mali": "Mali",
    "Mauritania": "Mauritânia",
    "Mauritius": "Maurícias",
    "Morocco": "Marrocos",
    "Mozambique": "Moçambique",
    "Namibia": "Namíbia",
    "Niger": "Níger",
    "Nigeria": "Nigéria",
    "Rwanda": "Ruanda",
    "Sao Tome and Principe": "São Tomé e Príncipe",
    "Senegal": "Senegal",
    "Seychelles": "Seicheles",
    "Sierra Leone": "Serra Leoa",
    "Somalia": "Somália",
    "Sudan": "Sudão",
    "South Sudan": "Sudão do Sul",
    "Tanzania": "Tanzânia",
    "Togo": "Togo",
    "Tunisia": "Tunísia",
    "Uganda": "Uganda",
    "Zambia": "Zâmbia",
    "Zimbabwe": "Zimbábue"
}

In [9]:
url = 'https://en.wikipedia.org/wiki/List_of_European_countries_by_population'
req = requests.get(url)
soup = BeautifulSoup(req.content, "html.parser")
table_class = 'references-small'
table = soup.find("table", attrs={'class':'sortable'})
df_countries_eu = pd.read_html(url, index_col=1)[1]
df_countries_eu = df_countries_eu.drop(['Unnamed: 0','% change','Official figure', 'Official date', 'Unnamed: 6'], axis=1).reset_index()
df_countries_eu = df_countries_eu.drop(0)
df_countries_eu.columns = ['pais_eng','populacao']
df_countries_eu['continente'] = 'Europa'


df_countries_eu['pais'] = df_countries_eu['pais_eng'].map(countries_translation)
df_countries_eu = df_countries_eu[['continente','pais_eng', 'pais', 'populacao']]
df_countries_eu.head(5)

  continente        pais_eng         pais  populacao
1     Europa          Russia       Rússia  143997393
2     Europa          Turkey      Turquia   87685426
3     Europa         Germany     Alemanha   84075074
4     Europa  United Kingdom  Reino Unido   69551332
5     Europa          France       França   66650804

In [10]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_in_the_Americas_by_population'
req = requests.get(url)
soup = BeautifulSoup(req.content, "html.parser")
table_class = 'references-small'
table = soup.find("table", attrs={'class':'sortable'})
df_countries_am = pd.read_html(url, index_col=1)[0]

df_countries_am = df_countries_am.drop(['Rank','% of pop. (2022)',
                                        'Average relative annual growth (%)[1] (2022)',
                                        'Average absolute annual growth (2015)[2]',
                                        'Date of last figure',
                                        'Source'], axis=1).reset_index()
df_countries_am = df_countries_am.drop(56)
df_countries_am.columns = ['pais_eng','populacao']
df_countries_am['continente'] = 'América'

df_countries_am['pais'] = df_countries_am['pais_eng'].map(countries_translation)
df_countries_am = df_countries_am[['continente','pais_eng', 'pais', 'populacao']]
df_countries_am.head(5)

  continente       pais_eng            pais  populacao
0    América  United States  Estados Unidos  339979847
1    América         Brazil          Brasil  217637297
2    América         Mexico          México  130000000
3    América       Colombia        Colômbia   52049498
4    América      Argentina       Argentina   46208747

In [11]:
url = 'https://en.wikipedia.org/wiki/List_of_Asian_countries_by_population'
req = requests.get(url)
soup = BeautifulSoup(req.content, "html.parser")
table_class = 'references-small'
table = soup.find("table", attrs={'class':'sortable'})
df_countries_as = pd.read_html(url, index_col=1)[0]

df_countries_as = df_countries_as.drop(['Unnamed: 0',
                                        '% Asia',
                                        'Total[1] population',
                                        '% growth',
                                        'Official figure',
                                        'Official date',
                                        'Unnamed: 8'], axis=1).reset_index()
df_countries_as.columns = ['pais_eng','populacao']
df_countries_as['continente'] = 'Ásia'

df_countries_as=df_countries_as.drop(53)
df_countries_as['pais'] = df_countries_as['pais_eng'].map(countries_translation)
df_countries_as = df_countries_as[['continente','pais_eng', 'pais', 'populacao']]
df_countries_as.tail(5)

   continente       pais_eng      pais  populacao
48       Ásia         Bhutan     Butão     787425
49       Ásia          Egypt     Egito     773938
50       Ásia  Macau (China)       NaN     704150
51       Ásia       Maldives  Maldivas     523787
52       Ásia         Brunei    Brunei     452524

In [12]:
url = 'https://en.wikipedia.org/wiki/List_of_Oceanian_countries_by_population'
req = requests.get(url)
soup = BeautifulSoup(req.content, "html.parser")
table_class = 'references-small'
table = soup.find("table", attrs={'class':'sortable'})
df_countries_oc = pd.read_html(url, index_col=1)[0]

df_countries_oc = df_countries_oc.drop(['Unnamed: 0',
                                        '% total',
                                        '%  growth',
                                        'Official figure',
                                        'Official date',
                                        'Unnamed: 7'], axis=1).reset_index()
df_countries_oc.columns = ['pais_eng','populacao']
df_countries_oc['continente'] = 'Oceania'

df_countries_oc = df_countries_oc.drop(27)
df_countries_oc['pais'] = df_countries_oc['pais_eng'].map(countries_translation)
df_countries_oc = df_countries_oc[['continente','pais_eng', 'pais', 'populacao']]
df_countries_oc.tail(5)

   continente               pais_eng    pais  populacao
22    Oceania                 Tuvalu  Tuvalu      11396
23    Oceania     Easter Island (CL)     NaN       8743
24    Oceania              Niue (NZ)     NaN       1935
25    Oceania           Tokelau (NZ)     NaN       1893
26    Oceania  Pitcairn Islands (UK)     NaN         50

In [13]:
url = 'https://en.wikipedia.org/wiki/List_of_African_countries_by_population'
req = requests.get(url)
soup = BeautifulSoup(req.content, "html.parser")
table_class = 'references-small'
table = soup.find("table", attrs={'class':'sortable'})
df_countries_af = pd.read_html(url, index_col=1)[0]

df_countries_af = df_countries_af.drop(['Unnamed: 0',
                                        '% Africa',
                                        '% growth',
                                        'Official figure',
                                        'Official date',
                                        'Unnamed: 7'], axis=1).reset_index()
df_countries_af.columns = ['pais_eng','populacao']
df_countries_af['continente'] = 'África'

df_countries_af = df_countries_af.drop(56)
df_countries_af['pais'] = df_countries_af['pais_eng'].map(countries_translation)
df_countries_af = df_countries_af[['continente','pais_eng', 'pais', 'populacao']]
df_countries_af.tail(5)

   continente               pais_eng       pais  populacao
51     África                Comoros    Comores     850387
52     África         Western Sahara        NaN     579729
53     África             Cape Verde        NaN     522331
54     África  São Tomé and Príncipe        NaN     230871
55     África             Seychelles  Seicheles     127951

In [14]:
df_countries = pd.concat([df_countries_af, df_countries_am, df_countries_as, df_countries_eu, df_countries_oc])

In [16]:
df_countries.to_csv('./extraidos/countries_population.csv')